script(src="./assets/vendor/material-design-lite/material.min.js")
script(src="./assets/vendor/jwt-decode/build/jwt-decode.js")
script(src="./env.js")
script(src="./assets/js/tabData.js")
script(src="./assets/js/popup.js")