title Riminder Test | #{title}

//- link(rel="apple-touch-icon", href="locate-me.png")
//- Place favicon.ico in the root directory

link(rel="stylesheet", href="assets/vendor/material-design-lite/material.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lobster")
link(rel="stylesheet", href="assets/styles/app.css")
