include includes/main

- title = "Book't";

+main

  #main-popup
    
    //- This is the profile page
    include fragments/home

    //- This is the login view which the user will get if not signed-in
    include fragments/login
    
    //- This is a spinner for loading state
    include fragments/spinner
