.default
  h3.mdl-typography--title Welcome to 
    span.logo Book't !!
  button.login-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Log In With Auth0
  p.mdl-typography--body Press the Log In button above to log in.